@font-face {
    font-family: "Obviously";
    src: url("https://fonts-cdn.astro.build/Obviously.woff2?v=1")
        format("woff2-variations");
    src: url("https://fonts-cdn.astro.build/Obviously.woff2?v=1")
        format("woff2") tech("variations");
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
    font-stretch: 490 620;
}

@font-face {
    font-family: "Inter";
    src: url("https://fonts-cdn.astro.build/Inter.woff2?v=1")
        format("woff2-variations");
    src: url("https://fonts-cdn.astro.build/Inter.woff2?v=1") format("woff2")
        tech("variations");
    font-style: normal;
    font-display: swap;
    font-weight: 300 600;
}

@font-face {
    font-family: "MDIO";
    src: url("https://fonts-cdn.astro.build/MDIO.woff2?v=1")
        format("woff2-variations");
    src: url("https://fonts-cdn.astro.build/MDIO.woff2?v=1") format("woff2")
        tech("variations");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: md-io-fallback;
    src: local("Courier New");
    line-gap-override: 7%;
}

@font-face {
    font-family: obviously-fallback;
    src: local("Verdana");
    size-adjust: 112%;
    line-gap-override: 19%;
}

@font-face {
    font-family: inter-fallback;
    ascent-override: 90.2%;
    descent-override: 22.48%;
    line-gap-override: 0%;
    size-adjust: 107.4%;
    src: local("Arial");
}

.font-sans {
    font-family: Inter, inter-fallback, system-ui, sans-serif;
    font-variation-settings: var(--sans-wght);
    font-feature-settings:
        var(--sans-case), var(--sans-ss03), var(--sans-cpsp), var(--sans-cv03),
        var(--cv04), var(--cv05), var(--cv06);
}

.font-mono {
    font-family: MDIO, md-io-fallback, monospace;
    font-variation-settings: var(--mono-ital);
    font-feature-settings: var(--mono-calt), var(--mono-zero);
}

h1 {
    font-family: Obviously, obviously-fallback, system-ui, sans-serif;
    font-variation-settings:
        var(--heading-wdth), var(--heading-wght), var(--heading-slnt);
    font-feature-settings:
        var(--heading-salt), var(--heading-ss06), var(--heading-ss11),
        var(--heading-cv09), var(--heading-liga), var(--heading-calt);
}
